In [1]:
import sys
sys.path.append('/Users/mader/Dropbox/Informatics/pyqae-master')
from pyqae import PyqaeContext

In [2]:
from dicom import read_file as dicom_simple_read
import numpy as np
from glob import glob
import pandas as pd

In [3]:
def local_read_depth(in_folder, depth, ext = '.dcm', inc_parent = False):
    """
    Read recursively from a list of directories
    :param in_folder: the base path to start from
    :param depth: the depth to look in the tree
    :param ext: the extension to search for
    :param inc_parent: to include the results from parent directories as well
    :return: a list of files
    """
    c_path = [in_folder]
    out_files = []
    for i in range(depth+1):
        c_wc_path = os.path.join(*(c_path + ['*']*i + ['*'+ext]))
        out_files += [] if (not inc_parent) and (i<depth) else glob(c_wc_path)
    return out_files

In [4]:
c_files = local_read_depth('/Users/mader/Dropbox/4Quant/Projects/TumorSegmentation/10092825', 1, inc_parent = False)

In [5]:
temp_dicom = dicom_simple_read(c_files[0])

In [6]:
for i, row in enumerate(temp_dicom):
    print(i, row)

0 (0008, 0008) Image Type                          CS: ['ORIGINAL', 'PRIMARY', 'M', 'NORM', 'DIS2D']
1 (0008, 0012) Instance Creation Date              DA: '20140606'
2 (0008, 0013) Instance Creation Time              TM: '111951.093000'
3 (0008, 0016) SOP Class UID                       UI: MR Image Storage
4 (0008, 0018) SOP Instance UID                    UI: 1.3.12.2.1107.5.2.32.35424.2014060611195066449861833
5 (0008, 0020) Study Date                          DA: '20140606'
6 (0008, 0021) Series Date                         DA: '20140606'
7 (0008, 0022) Acquisition Date                    DA: '20140606'
8 (0008, 0023) Content Date                        DA: '20140606'
9 (0008, 0030) Study Time                          TM: '111723.734000'
10 (0008, 0031) Series Time                         TM: '111951.062000'
11 (0008, 0032) Acquisition Time                    TM: '111825.792500'
12 (0008, 0033) Content Time                        TM: '111951.093000'
13 (0008, 0050) Accession Number                    SH: 'ME140606MR3016'
14 (0008, 0060) Modality                            CS: 'MR'
15 (0008, 0070) Manufacturer                        LO: 'SIEMENS'
16 (0008, 0080) Institution Name                    LO: 'SYSU Cancer Center'
17 (0008, 0081) Institution Address                 ST: 'Street StreetNo,Guangzhou//FA4C24//,District,CN,ZIP'
18 (0008, 0090) Referring Physician's Name          PN: ''
19 (0008, 1010) Station Name                        SH: 'MRC35424'
20 (0008, 1030) Study Description                   LO: 'peng^general'
21 (0008, 1032) Procedure Code Sequence             SQ: <Sequence, length 1, at 11290D0E8>
22 (0008, 103e) Series Description                  LO: 't2_blade_tra'
23 (0008, 1040) Institutional Department Name       LO: 'Department'
24 (0008, 1050) Performing Physician's Name         PN: ''
25 (0008, 1090) Manufacturer's Model Name           LO: 'TrioTim'
26 (0008, 1110) Referenced Study Sequence           SQ: <Sequence, length 1, at 11290D408>
27 (0008, 1120) Referenced Patient Sequence         SQ: <Sequence, length 1, at 11290D4A8>
28 (0008, 1140) Referenced Image Sequence           SQ: <Sequence, length 3, at 11290D5E8>
29 (0010, 0010) Patient's Name                      PN: 'HE JIAN RONG'
30 (0010, 0020) Patient ID                          LO: '10092825'
31 (0010, 0030) Patient's Birth Date                DA: '19820305'
32 (0010, 0040) Patient's Sex                       CS: 'M'
33 (0010, 0050) Patient's Insurance Plan Code Seque SQ: <Sequence, length 1, at 11290D688>
34 (0010, 1010) Patient's Age                       AS: '032Y'
35 (0010, 1030) Patient's Weight                    DS: '57'
36 (0010, 21c0) Pregnancy Status                    US: 4
37 (0018, 0020) Scanning Sequence                   CS: 'SE'
38 (0018, 0021) Sequence Variant                    CS: ['SK', 'SP']
39 (0018, 0022) Scan Options                        CS: 'SAT2'
40 (0018, 0023) MR Acquisition Type                 CS: '2D'
41 (0018, 0024) Sequence Name                       SH: 'tseBR2d1_28'
42 (0018, 0025) Angio Flag                          CS: 'N'
43 (0018, 0050) Slice Thickness                     DS: '5'
44 (0018, 0080) Repetition Time                     DS: '4200'
45 (0018, 0081) Echo Time                           DS: '119'
46 (0018, 0083) Number of Averages                  DS: '1'
47 (0018, 0084) Imaging Frequency                   DS: '123.258578'
48 (0018, 0085) Imaged Nucleus                      SH: '1H'
49 (0018, 0086) Echo Number(s)                      IS: '1'
50 (0018, 0087) Magnetic Field Strength             DS: '3'
51 (0018, 0088) Spacing Between Slices              DS: '6'
52 (0018, 0089) Number of Phase Encoding Steps      IS: '384'
53 (0018, 0091) Echo Train Length                   IS: '28'
54 (0018, 0093) Percent Sampling                    DS: '100'
55 (0018, 0094) Percent Phase Field of View         DS: '100'
56 (0018, 0095) Pixel Bandwidth                     DS: '362'
57 (0018, 1000) Device Serial Number                LO: '35424'
58 (0018, 1020) Software Version(s)                 LO: 'syngo MR B17'
59 (0018, 1030) Protocol Name                       LO: 't2_blade_tra'
60 (0018, 1251) Transmit Coil Name                  SH: 'Body'
61 (0018, 1310) Acquisition Matrix                  US: [0, 384, 384, 0]
62 (0018, 1312) In-plane Phase Encoding Direction   CS: 'ROW'
63 (0018, 1314) Flip Angle                          DS: '90'
64 (0018, 1315) Variable Flip Angle Flag            CS: 'N'
65 (0018, 1316) SAR                                 DS: '0.94054930573562'
66 (0018, 1318) dB/dt                               DS: '40.247024536133'
67 (0018, 5100) Patient Position                    CS: 'HFS'
68 (0019, 0010) Private Creator                     LO: 'SIEMENS MR HEADER'
69 (0019, 1008) [CSA Image Header Type]             CS: 'IMAGE NUM 4'
70 (0019, 1009) [CSA Image Header Version ??]       LO: '1.0'
71 (0019, 100b) [SliceMeasurementDuration]          DS: '80337.5'
72 (0019, 100f) [GradientMode]                      SH: 'Fast'
73 (0019, 1011) [FlowCompensation]                  SH: 'No'
74 (0019, 1012) [TablePositionOrigin]               SL: [0, 0, -1344]
75 (0019, 1013) [ImaAbsTablePosition]               SL: [0, 0, -1338]
76 (0019, 1014) [ImaRelTablePosition]               IS: ['0', '0', '6']
77 (0019, 1015) [SlicePosition_PCS]                 FD: [-111.98122861, -119.99775317, 45.05843735]
78 (0019, 1016) [TimeAfterStart]                    DS: '1.845'
79 (0019, 1017) [SliceResolution]                   DS: '1'
80 (0019, 1018) [RealDwellTime]                     IS: '3600'
81 (0020, 000d) Study Instance UID                  UI: 1.2.840.113619.186.35125912074.20140606090639358.284
82 (0020, 000e) Series Instance UID                 UI: 1.3.12.2.1107.5.2.32.35424.2014060611195052874661819.0.0.0
83 (0020, 0010) Study ID                            SH: '685351'
84 (0020, 0011) Series Number                       IS: '2'
85 (0020, 0012) Acquisition Number                  IS: '1'
86 (0020, 0013) Instance Number                     IS: '1'
87 (0020, 0032) Image Position (Patient)            DS: ['-111.98122861364', '-119.99775317002', '51.058437347412']
88 (0020, 0037) Image Orientation (Patient)         DS: ['0.99978068345589', '-0.0209424207882', '0', '0.02094242078816', '0.99978068345589', '0']
89 (0020, 0052) Frame of Reference UID              UI: 1.3.12.2.1107.5.2.32.35424.2.20140606111723906.0.0.0
90 (0020, 1040) Position Reference Indicator        LO: ''
91 (0020, 1041) Slice Location                      DS: '51.058437347412'
92 (0028, 0002) Samples per Pixel                   US: 1
93 (0028, 0004) Photometric Interpretation          CS: 'MONOCHROME2'
94 (0028, 0010) Rows                                US: 384
95 (0028, 0011) Columns                             US: 384
96 (0028, 0030) Pixel Spacing                       DS: ['0.57291668653488', '0.57291668653488']
97 (0028, 0100) Bits Allocated                      US: 16
98 (0028, 0101) Bits Stored                         US: 12
99 (0028, 0102) High Bit                            US: 11
100 (0028, 0103) Pixel Representation                US: 0
101 (0028, 0106) Smallest Image Pixel Value          US: 0
102 (0028, 0107) Largest Image Pixel Value           US: 1804
103 (0028, 1050) Window Center                       DS: '568'
104 (0028, 1051) Window Width                        DS: '1213'
105 (0028, 1055) Window Center & Width Explanation   LO: 'WINDOW1'
106 (0029, 0010) Private Creator                     LO: 'SIEMENS CSA HEADER'
107 (0029, 0011) Private Creator                     LO: 'SIEMENS MEDCOM HEADER2'
108 (0029, 1008) [CSA Image Header Type]             CS: 'IMAGE NUM 4'
109 (0029, 1009) [CSA Image Header Version]          LO: '20140606'
110 (0029, 1010) [CSA Image Header Info]             OB: Array of 9468 bytes
111 (0029, 1018) [CSA Series Header Type]            CS: 'MR'
112 (0029, 1019) [CSA Series Header Version]         LO: '20140606'
113 (0029, 1020) [CSA Series Header Info]            OB: Array of 66064 bytes
114 (0029, 1160) [Series Workflow Status]            LO: 'com'
115 (0032, 1060) Requested Procedure Description     LO: 'tou bu mr'
116 (0032, 1064) Requested Procedure Code Sequence   SQ: <Sequence, length 1, at 11290D908>
117 (0040, 0244) Performed Procedure Step Start Date DA: '20140606'
118 (0040, 0245) Performed Procedure Step Start Time TM: '111723.828000'
119 (0040, 0253) Performed Procedure Step ID         SH: '770888'
120 (0040, 0254) Performed Procedure Step Descriptio LO: 'MR nasopharynx +C'
121 (0040, 0275) Request Attributes Sequence         SQ: <Sequence, length 1, at 11290D9A8>
122 (0051, 0010) Private Creator                     LO: 'SIEMENS MR HEADER'
123 (0051, 1008) [CSA Image Header Type]             CS: 'IMAGE NUM 4'
124 (0051, 1009) [CSA Image Header Version ??]       LO: '1.0'
125 (0051, 100a) [Unknown]                           LO: 'TA 01:20'
126 (0051, 100b) [AcquisitionMatrixText]             LO: '384*384'
127 (0051, 100c) [Unknown]                           LO: 'FoV 220*220'
128 (0051, 100d) [Unknown]                           SH: 'SP H51.1'
129 (0051, 100e) [Unknown]                           LO: 'Tra'
130 (0051, 100f) [CoilString]                        LO: 'C:HEA;HEP;NE2'
131 (0051, 1012) [Unknown]                           SH: 'TP H6'
132 (0051, 1013) [PositivePCSDirections]             SH: '+LPH'
133 (0051, 1016) [Unknown]                           LO: 'M/NORM/DIS2D'
134 (0051, 1017) [Unknown]                           SH: 'SL 5.0'
135 (0051, 1019) [Unknown]                           LO: 'A1/SAT2'
136 (0088, 0140) Storage Media File-set UID          UI: 1.3.12.2.1107.5.2.32.35424.30000014060607510345300000000
137 (0088, 0200) Icon Image Sequence                 SQ: <Sequence, length 1, at 11290DA48>
138 (7fe0, 0010) Pixel Data                          OW: Array of 294912 bytes

In [9]:
from collections import namedtuple
from pyspark.sql.types import _infer_type, _has_nulltype, StructType, MapType, ArrayType
from pyspark.sql import Row
import dicom
type_info = namedtuple('type_info', ['inferrable', 'realtype', 'has_nulltype', 'length', 'is_complex'])

def _tlen(x):
    """
    Try to calculate the length, otherwise return 1
    """
    try:
        return len(x)
    except:
        try:
            if np.isnan(x): return 0
        except:
            pass
        return 1

def _tnonempty(x):
    return _tlen(x)>0
def safe_type_infer(x):
    COMPLEX_TYPES = (StructType, MapType)
    try:
        sq_type = _infer_type(x)
        return type_info(True, sq_type, has_nulltype = _has_nulltype(sq_type), 
                         length = _tlen(x), is_complex = (type(sq_type) in COMPLEX_TYPES)
                        )
    except:
        return type_info(False, type(x), has_nulltype = False, 
                         length = _tlen(x), is_complex = False)

def _identify_column_types(in_df_dict):
    return dict([(k, safe_type_infer(v)) for (k, v) in in_df_dict.items()])

def _findvalidvalues(crow): 
        nz_vals = list(filter(_tnonempty, crow))
        return None if len(nz_vals)<1 else nz_vals[0]
def _countmissingvalues(crow): 
        nz_vals = list(filter(lambda i: not _tnonempty(i), crow))
        return len(nz_vals)
BAD_COLUMNS = tuple()

def dicom_to_dict(in_dicom, read_array = True):
    temp_dict = {a.name:a.value for a in in_dicom.iterall()}
    if in_dicom.__dict__.get('_pixel_array',None) is not None:
        temp_dict['Pixel Array'] = in_dicom.pixel_array.tolist()
    df_dicom = pd.DataFrame([temp_dict]) # just for the type conversion
    
    cur_kv_pairs = list(df_dicom.T.to_dict().values())[0] # first row
    valid_keys =_identify_column_types(cur_kv_pairs)
    do_keep = lambda key ,ti: ti.inferrable & (not ti.has_nulltype) & (not ti.is_complex)# & (ti.length>0)
    fvalid_keys = dict([ (k, do_keep(k,t_info)) for k, t_info in valid_keys.items()])
    return (dict([(k,v) for (k,v) in cur_kv_pairs.items() if fvalid_keys.get(k)]), 
            dict([(k,v) for (k,v) in cur_kv_pairs.items() if not fvalid_keys.get(k)]),
            valid_keys)

def dicoms_to_dict(dicom_list):
    fvr = lambda x: None if x.first_valid_index() is None else x[x.first_valid_index()]
    
    out_list = []
    
    for in_dicom in dicom_list:
        temp_dict = {a.name:a.value for a in in_dicom.iterall()}
        if in_dicom.__dict__.get('_pixel_array',None) is not None:
            temp_dict['Pixel Array'] = in_dicom.pixel_array.tolist()

        out_list += [temp_dict]
    df_dicom = pd.DataFrame(out_list) # just for the type conversion
    fvi_series = df_dicom.apply(_findvalidvalues, axis=0).to_dict()
    valid_keys = _identify_column_types(fvi_series)
    do_keep = lambda key, ti: ti.inferrable & (not ti.has_nulltype) # & (not ti.is_complex) & (ti.length>0)
    fvalid_keys = dict([ (k, do_keep(k,t_info)) for k, t_info in valid_keys.items()])
    good_columns = list(map(lambda x: x[0], filter(lambda x: x[1], fvalid_keys.items())))
    bad_columns = list(map(lambda x: x[0], filter(lambda x: not x[1], fvalid_keys.items())))
    sql_df = df_dicom[good_columns] 
    return sql_df.dropna(axis = 1)

def _remove_empty_columns(in_df):
    empty_cols = dict(filter(lambda kv: kv[1]>0, in_df.apply(_countmissingvalues,axis = 0).to_dict().items()))
    # remove missing columns
    return in_df[[ccol for ccol in in_df.columns if empty_cols.get(ccol,0)==0]]

# perform conversions
_dicom_conv_dict = {dicom.multival.MultiValue: lambda x: np.array(x).tolist(),
                   dicom.sequence.Sequence: lambda seq: [[(str(d_ele.tag), str(d_ele.value)) for d_ele in d_set] for d_set in seq]}

def _apply_conv_dict(in_ele):
    cnv_fcn = _dicom_conv_dict.get(type(in_ele[0]), None)
    if cnv_fcn is not None:
        return in_ele.map(cnv_fcn)
    else:
        return in_ele
def _conv_df(in_df):
    return in_df.apply(_apply_conv_dict)

def dicom_paths_to_df(in_path_list):
    f_df = dicoms_to_dict([dicom_simple_read(in_path, stop_before_pixels=True) for in_path in in_path_list])
    f_df['DICOMPath4Q'] = in_path_list
    rec_df = _remove_empty_columns(f_df)
    conv_df = _conv_df(rec_df)
    return conv_df

In [10]:
dicom_df = dicom_paths_to_df(c_files)
tdf = sqlContext.createDataFrame(dicom_df)
tdf.registerTempTable('DICOMSingleTable')
sqlContext.sql("""SELECT * FROM DICOMSingleTable LIMIT 1""").toPandas()

,[SliceMeasurementDuration],Accession Number,Number of Phase Encoding Steps,Study ID,Patient ID,Samples per Pixel,Manufacturer's Model Name,[SlicePosition_PCS],Protocol Name,[CoilString],...,Angio Flag,Slice Location,High Bit,Instance Creation Date,Manufacturer,Imaging Frequency,Sequence Name,Percent Phase Field of View,Private Creator,DICOMPath4Q
0,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 45.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,N,51.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER,/Users/mader/Dropbox/4Quant/Projects/TumorSegm...

In [64]:
sqlContext.sql("""SELECT DICOMPath4Q, Modality FROM DICOMSingleTable LIMIT 1""").toPandas()

                                         DICOMPath4Q Modality
0  /Users/mader/Dropbox/4Quant/Projects/TumorSegm...       MR

In [51]:
from pyspark.sql import functions as F
import pyspark.sql.types as sq_types
_sq_conv_map = {
    np.int16: sq_types.IntegerType,
    np.uint8: sq_types.IntegerType,
    np.float32: sq_types.FloatType,
    np.float64: sq_types.DoubleType
}

def _ndarray_to_sql(in_arr):
    """
    
    _ndarray_to_sql(np.zeros((3,3,3), np.float32))
    >>> ArrayType(ArrayType(ArrayType(FloatType,true),true),true)
    
    _ndarray_to_sql(np.zeros((3,3,3), np.int16))
    >>> ArrayType(ArrayType(ArrayType(IntegerType,true),true),true)
    
    _ndarray_to_sql(np.zeros((3,3,3), np.object))
    Exception: object is not supported in SparkSQL
    """
    assert type(in_arr) is np.ndarray, "Only works for NDArrays"
    for (dtype, stype) in _sq_conv_map.items():
        if dtype == in_arr.dtype:
            base_type = stype() # instantiate
            for c_dim in in_arr.shape:
                base_type = sq_types.ArrayType(base_type)
            return base_type
        
    raise Exception("{} is not supported in SparkSQL".format(in_arr.dtype))


twod_arr_type = sq_types.ArrayType(sq_types.ArrayType(sq_types.IntegerType()))
# the pull_input_tile function is wrapped into a udf to it can be applied to create the new image column
# numpy data is not directly supported and typed arrays must be used instead therefor we run the .tolist command
read_dicom_slice_udf = F.udf(lambda x: dicom_simple_read(x).pixel_array.tolist(), returnType = twod_arr_type)

In [52]:
t_img_df = tdf.withColumn("Pixel Array", read_dicom_slice_udf(tdf['DICOMPath4Q']))

In [155]:
from PIL import Image as PImage
from matplotlib.pyplot import cm
import base64
from io import BytesIO
def _np_to_uri(in_array, cmap = 'RdBu'):
    """
    
    _np_to_uri(np.zeros((100,100))
    >>> 'iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAABUElEQVR4nO3SQQEAEADAQBQRT/8ExPDYXYI9Ns/Yd5C1fgfwlwHiDBBngDgDxBkgzgBxBogzQJwB4gwQZ4A4A8QZIM4AcQaIM0CcAeIMEGeAOAPEGSDOAHEGiDNAnAHiDBBngDgDxBkgzgBxBogzQJwB4gwQZ4A4A8QZIM4AcQaIM0CcAeIMEGeAOAPEGSDOAHEGiDNAnAHiDBBngDgDxBkgzgBxBogzQJwB4gwQZ4A4A8QZIM4AcQaIM0CcAeIMEGeAOAPEGSDOAHEGiDNAnAHiDBBngDgDxBkgzgBxBogzQJwB4gwQZ4A4A8QZIM4AcQaIM0CcAeIMEGeAOAPEGSDOAHEGiDNAnAHiDBBngDgDxBkgzgBxBogzQJwB4gwQZ4A4A8QZIM4AcQaIM0CcAeIMEGeAOAPEGSDOAHEGiDNAnAHiDBBngDgDxBkgzgBxDxypAoX8C2RlAAAAAElFTkSuQmCC'
    """
    test_img_data = np.array(in_array).astype(np.float32)
    test_img_data -= test_img_data.mean()
    test_img_data /= test_img_data.std()
    test_img_color = cm.((test_img_data+0.5).clip(0,1))
    p_data = PImage.fromarray((test_img_color*255).clip(0,255).astype(np.uint8))
    rs_p_data = p_data.resize((128, 128), resample = PImage.BICUBIC)
    out_img_data = BytesIO()
    rs_p_data.save(out_img_data, format = 'png')
    out_img_data.seek(0)
    return base64.b64encode(out_img_data.read()).decode("ascii").replace("\n", "")
image_to_uri_udf = F.udf(_np_to_uri, returnType = sq_types.StringType())

In [177]:
t_prev_df = t_img_df.withColumn("Preview4Q", image_to_uri_udf(t_img_df['Pixel Array']))

In [178]:
_wrap_uri = lambda data_uri: "data:image/png;base64,{0}".format(data_uri)
def display_uri(uri_list):
    """
    
    show_uri(_np_to_uri(np.zeros((100,100))))
    
    """
    from IPython.display import HTML
    out_html = ""
    for in_uri in uri_list:
        out_html += """<img src="{0}" width = "100px" height = "100px" />""".format(_wrap_uri(in_uri))
    return HTML(out_html)

In [172]:
display_uri(t_prev_df.take(5)['Preview4Q'])

In [176]:
test_ds = t_prev_df.take(2)

Py4JJavaError: An error occurred while calling z:org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe.
: org.apache.spark.SparkException: Job 33 cancelled because Stage 41 was cancelled
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1450)
	at org.apache.spark.scheduler.DAGScheduler.handleJobCancellation(DAGScheduler.scala:1389)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleStageCancellation$1.apply$mcVI$sp(DAGScheduler.scala:1377)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleStageCancellation$1.apply(DAGScheduler.scala:1376)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleStageCancellation$1.apply(DAGScheduler.scala:1376)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofInt.foreach(ArrayOps.scala:234)
	at org.apache.spark.scheduler.DAGScheduler.handleStageCancellation(DAGScheduler.scala:1376)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1632)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1618)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1607)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:632)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1871)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1884)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1897)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:347)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply$mcI$sp(EvaluatePython.scala:41)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2532)
	at org.apache.spark.sql.execution.python.EvaluatePython$.takeAndServe(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe(EvaluatePython.scala)
	at sun.reflect.GeneratedMethodAccessor101.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:497)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:128)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:211)
	at java.lang.Thread.run(Thread.java:745)

In [190]:
def _fix_col_names(t_prev_df):
    new_df = t_prev_df
    for col in t_prev_df.columns:
        new_col = col
        for fix_chr in ' ,;{}()\n\t=':
            new_col = "".join(new_col.split(fix_chr))
        new_df = new_df.withColumnRenamed(col, new_col)
    return new_df

new_df = _fix_col_names(t_prev_df)
new_df.write.parquet("dicom_data_pqt")

In [192]:
new_df.write.json("dicom_data_json")

In [195]:
new_df.registerTempTable("NewTable")

In [196]:
n_qry = sqlContext.sql("""
SELECT Preview4Q FROM NewTable LIMIT 5
""")
n_qry.explain()

== Physical Plan ==
CollectLimit 5
+- Project [pythonUDF0#75427 AS Preview4Q#74584]
   +- BatchEvalPython [_np_to_uri(<lambda>(DICOMPath4Q#115))], [[SliceMeasurementDuration]#0, Accession Number#1, Number of Phase Encoding Steps#2L, Study ID#3, Patient ID#4, Samples per Pixel#5L, Manufacturer's Model Name#6, [SlicePosition_PCS]#7, Protocol Name#8, [CoilString]#9, Performing Physician's Name#10, Transmit Coil Name#11, Green Palette Color Lookup Table Descriptor#12, [CSA Series Header Type]#13, Number of Averages#14, Patient Position#15, Patient's Name#16, Rows#17L, [CSA Series Header Version]#18, Performed Procedure Step Start Time#19, Blue Palette Color Lookup Table Descriptor#20, [CSA Image Header Version]#21, Red Palette Color Lookup Table Descriptor#22, Series Description#23, ... 93 more fields]
      +- Scan ExistingRDD[[SliceMeasurementDuration]#0,Accession Number#1,Number of Phase Encoding Steps#2L,Study ID#3,Patient ID#4,Samples per Pixel#5L,Manufacturer's Model Name#6,[SlicePosition_PCS]#7,Protocol Name#8,[CoilString]#9,Performing Physician's Name#10,Transmit Coil Name#11,Green Palette Color Lookup Table Descriptor#12,[CSA Series Header Type]#13,Number of Averages#14,Patient Position#15,Patient's Name#16,Rows#17L,[CSA Series Header Version]#18,Performed Procedure Step Start Time#19,Blue Palette Color Lookup Table Descriptor#20,[CSA Image Header Version]#21,Red Palette Color Lookup Table Descriptor#22,Series Description#23,... 92 more fields]

In [198]:
display_uri(n_qry.toPandas()['Preview4Q'])

In [80]:
f_qry = sqlContext.sql("""
SELECT Modality, FIRST(`Study ID`)  as Sid, COUNT(*) FROM ImageTable GROUP BY Modality
""")
f_qry.explain()

== Physical Plan ==
SortAggregate(key=[Modality#64], functions=[first(Study ID#3, false),count(1)])
+- *Sort [Modality#64 ASC], false, 0
   +- Exchange hashpartitioning(Modality#64, 200)
      +- SortAggregate(key=[Modality#64], functions=[partial_first(Study ID#3, false),partial_count(1)])
         +- *Sort [Modality#64 ASC], false, 0
            +- Project [Study ID#3, Modality#64]
               +- Scan ExistingRDD[[SliceMeasurementDuration]#0,Accession Number#1,Number of Phase Encoding Steps#2L,Study ID#3,Patient ID#4,Samples per Pixel#5L,Manufacturer's Model Name#6,[SlicePosition_PCS]#7,Protocol Name#8,[CoilString]#9,Performing Physician's Name#10,Transmit Coil Name#11,Green Palette Color Lookup Table Descriptor#12,[CSA Series Header Type]#13,Number of Averages#14,Patient Position#15,Patient's Name#16,Rows#17L,[CSA Series Header Version]#18,Performed Procedure Step Start Time#19,Blue Palette Color Lookup Table Descriptor#20,[CSA Image Header Version]#21,Red Palette Color Lookup Table Descriptor#22,Series Description#23,... 92 more fields]

In [81]:
f_qry.toPandas()

  Modality     Sid  count(1)
0       MR  685351       356

In [201]:
['bo']

KeyError: 'bo'

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 59550)
----------------------------------------

Traceback (most recent call last):
  File "/Users/mader/anaconda/lib/python3.5/socketserver.py", line 313, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/Users/mader/anaconda/lib/python3.5/socketserver.py", line 341, in process_request
    self.finish_request(request, client_address)
  File "/Users/mader/anaconda/lib/python3.5/socketserver.py", line 354, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/Users/mader/anaconda/lib/python3.5/socketserver.py", line 681, in __init__
    self.handle()
  File "/Volumes/ExDisk/spark-2.0.0-bin-hadoop2.7/python/pyspark/accumulators.py", line 235, in handle
    num_updates = read_int(self.rfile)
  File "/Volumes/ExDisk/spark-2.0.0-bin-hadoop2.7/python/pyspark/serializers.py", line 545, in read_int
    raise EOFError
EOFError

In [ ]:

kimg_df = kmeta_df.withColumn('Image', pull_tile_udf(kmeta_df['x']))

In [308]:
good_dict, bad_dict, vkeys = dicom_to_dict(temp_dicom)
#bad_dict.values()
print(bad_dict.keys())

dict_keys(['Study Instance UID', 'Scheduled Protocol Code Sequence', "Patient's Insurance Plan Code Sequence", '[CSA Series Header Info]', 'Pixel Data', 'Requested Procedure Code Sequence', '[CSA Image Header Info]', 'SOP Instance UID', 'SOP Class UID', 'Pixel Spacing', 'Referenced SOP Instance UID', "Performing Physician's Name", 'Scan Options', 'Blue Palette Color Lookup Table Data', 'Request Attributes Sequence', 'Procedure Code Sequence', 'Frame of Reference UID', "Referring Physician's Name", 'Image Orientation (Patient)', 'Green Palette Color Lookup Table Data', "Patient's Name", 'Image Position (Patient)', 'Storage Media File-set UID', 'Series Instance UID', 'Red Palette Color Lookup Table Data', 'Referenced SOP Class UID'])

In [195]:
print('Simple Field', vkeys['Institution Name'])
print('Complex Field', vkeys['Frame of Reference UID'])

Simple Field type_info(inferrable=True, realtype=StringType, has_nulltype=False, length=18, is_complex=False)
Complex Field type_info(inferrable=True, realtype=StructType(List(StructField(info,NullType,true),StructField(is_retired,NullType,true),StructField(is_transfer_syntax,BooleanType,true),StructField(name,StringType,true),StructField(type,NullType,true))), has_nulltype=True, length=52, is_complex=True)

In [387]:
full_dicom_list = dicoms_to_dict([dicom_simple_read(in_path, stop_before_pixels=True) for in_path in c_files])

In [399]:


# not needed at the moment
type_mat = conv_dicom_list.apply(lambda x: (x[0],type(x[0])),0)

Missing Columns {'Scan Options': 85}

,[SliceMeasurementDuration],Accession Number,Number of Phase Encoding Steps,Study ID,Patient ID,Samples per Pixel,Manufacturer's Model Name,[SlicePosition_PCS],Protocol Name,[CoilString],...,Requested Procedure Description,Angio Flag,Slice Location,High Bit,Instance Creation Date,Manufacturer,Imaging Frequency,Sequence Name,Percent Phase Field of View,Private Creator
0,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 45.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,51.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER

Missing Columns []

In [270]:
test_df = pd.DataFrame({'a': [0, np.NAN, 1], 'b': [np.NAN, 9, np.NAN]})

In [ ]:
o_df = dicoms_to_dict([temp_dicom, temp_dicom])
o_df.dropna(axis = 1)

In [ ]:
sqlContext.createDataFrame(o_df.dropna(axis = 1))

In [ ]:
dicom_to_dict(temp_dicom)

In [204]:
dicom_rows = sc.parallelize(c_files, 100).map(lambda in_path: 
                                 Row(**dicom_to_dict(dicom_simple_read(in_path, stop_before_pixels=True))[0]))

In [205]:
dicom_df = sqlContext.createDataFrame(dicom_rows)

In [206]:
dicom_df.registerTempTable('DICOMTable')

In [273]:
sqlContext.sql("""SELECT * FROM DICOMTable LIMIT 1""").toPandas()

In [340]:
full_dicom_list[icol].map(lambda x: np.array(x).tolist())

0               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
1               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
2               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
3               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
4               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
5               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
6               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
7               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
8               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
9               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
10              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
11              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
12              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
13              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
14              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
15              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
16     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
17     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
18     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
19     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
20     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
21     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
22     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
23     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
24     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
25     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
26     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
27     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
28     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
29     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
                           ...
326    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
327    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
328    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
329    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
330    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
331    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
332    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
333    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
334    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
335    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
336    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
337    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
338    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
339    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
340    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
341    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
342    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
343    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
344    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
345    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
346    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
347    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
348    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
349    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
350    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
351    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
352    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
353    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
354    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
355    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
Name: Image Type, dtype: object

In [341]:
print(full_dicom_list[icol])
full_dicom_list['serialized'] = full_dicom_list[icol].map(lambda x: np.array(x).tolist())
tdf = sqlContext.createDataFrame(full_dicom_list[['serialized']])
tdf.registerTempTable('DICOMSingleTable')
sqlContext.sql("""SELECT * FROM DICOMSingleTable LIMIT 1""").first()

0               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
1               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
2               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
3               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
4               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
5               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
6               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
7               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
8               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
9               [ORIGINAL, PRIMARY, M, NORM, DIS2D]
10              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
11              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
12              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
13              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
14              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
15              [ORIGINAL, PRIMARY, M, NORM, DIS2D]
16     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
17     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
18     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
19     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
20     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
21     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
22     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
23     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
24     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
25     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
26     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
27     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
28     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
29     [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
                           ...
326    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
327    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
328    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
329    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
330    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
331    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
332    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
333    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
334    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
335    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
336    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
337    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
338    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
339    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
340    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
341    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
342    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
343    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
344    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
345    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
346    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
347    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
348    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
349    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
350    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
351    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
352    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
353    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
354    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
355    [ORIGINAL, PRIMARY, M, NORM, DIS2D, FM, FIL]
Name: Image Type, dtype: object

Row(serialized=['ORIGINAL', 'PRIMARY', 'M', 'NORM', 'DIS2D'])

In [331]:
for icol in full_dicom_list.columns:
    tdf = sqlContext.createDataFrame(full_dicom_list[[icol]])
    tdf.registerTempTable('DICOMSingleTable')
    sqlContext.sql("""SELECT * FROM DICOMSingleTable LIMIT 1""").first()

Py4JJavaError: An error occurred while calling z:org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 1765.0 failed 1 times, most recent failure: Lost task 2.0 in stage 1765.0 (TID 4408, localhost): java.lang.ClassCastException: net.razorvine.pickle.objects.ClassDict cannot be cast to java.util.ArrayList
	at net.razorvine.pickle.Unpickler.load_appends(Unpickler.java:673)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:208)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:99)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:112)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:152)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:151)
	at scala.collection.Iterator$$anon$12.nextCur(Iterator.scala:434)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:79)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:47)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1450)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1438)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1437)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1437)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1659)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1618)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1607)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:632)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1871)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1884)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1897)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:347)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply$mcI$sp(EvaluatePython.scala:41)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2532)
	at org.apache.spark.sql.execution.python.EvaluatePython$.takeAndServe(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe(EvaluatePython.scala)
	at sun.reflect.GeneratedMethodAccessor132.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:497)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:128)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:211)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.lang.ClassCastException: net.razorvine.pickle.objects.ClassDict cannot be cast to java.util.ArrayList
	at net.razorvine.pickle.Unpickler.load_appends(Unpickler.java:673)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:208)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:99)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:112)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:152)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:151)
	at scala.collection.Iterator$$anon$12.nextCur(Iterator.scala:434)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:79)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:47)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [245]:
# calculate the schema on the first row
tiny_schema = sqlContext.createDataFrame(full_dicom_list.head(2))._schema
tiny_conv = _create_converter(tiny_schema)

def try_map(op, in_list):
    """
    error-tolerant try-map
    """
    def try_op(*args, **kwargs):
        try:
            return op(*args, **kwargs)
        except:
            return None
    return list(filter(lambda x: x is not None, map(try_op, in_list)))
conv_data = try_map(tiny_conv,full_dicom_list) #list(full_dicom_list.T.to_dict().values()))
dicom_single_df = sqlContext.createDataFrame(conv_data, schema = tiny_schema)
dicom_single_df.registerTempTable('DICOMSingleTable')

Py4JJavaError: An error occurred while calling z:org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1665.0 failed 1 times, most recent failure: Lost task 0.0 in stage 1665.0 (TID 4157, localhost): java.lang.ClassCastException: net.razorvine.pickle.objects.ClassDict cannot be cast to java.util.ArrayList
	at net.razorvine.pickle.Unpickler.load_appends(Unpickler.java:673)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:208)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:99)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:112)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:152)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:151)
	at scala.collection.Iterator$$anon$12.nextCur(Iterator.scala:434)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:79)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:47)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1450)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1438)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1437)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1437)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:811)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:811)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1659)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1618)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1607)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:632)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1871)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1884)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1897)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:347)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply$mcI$sp(EvaluatePython.scala:41)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython$$anonfun$takeAndServe$1.apply(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2532)
	at org.apache.spark.sql.execution.python.EvaluatePython$.takeAndServe(EvaluatePython.scala:39)
	at org.apache.spark.sql.execution.python.EvaluatePython.takeAndServe(EvaluatePython.scala)
	at sun.reflect.GeneratedMethodAccessor132.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:497)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:128)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:211)
	at java.lang.Thread.run(Thread.java:745)
Caused by: java.lang.ClassCastException: net.razorvine.pickle.objects.ClassDict cannot be cast to java.util.ArrayList
	at net.razorvine.pickle.Unpickler.load_appends(Unpickler.java:673)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:208)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:99)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:112)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:152)
	at org.apache.spark.api.python.SerDeUtil$$anonfun$pythonToJava$1$$anonfun$apply$1.apply(SerDeUtil.scala:151)
	at scala.collection.Iterator$$anon$12.nextCur(Iterator.scala:434)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:440)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:79)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:47)
	at org.apache.spark.scheduler.Task.run(Task.scala:85)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:274)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [252]:
full_dicom_list.loc[1]

[SliceMeasurementDuration]                                                                 80335
Accession Number                                                                  ME140606MR3016
Number of Phase Encoding Steps                                                               384
Study ID                                                                                  685351
Patient ID                                                                              10092825
Samples per Pixel                                                                              1
Manufacturer's Model Name                                                                TrioTim
[SlicePosition_PCS]                                  [-111.98122861, -119.99775317, 39.05843735]
Protocol Name                                                                       t2_blade_tra
[CoilString]                                                                       C:HEA;HEP;NE2
Performing Physician's Name
Transmit Coil Name                                                                          Body
Green Palette Color Lookup Table Descriptor                                          [256, 0, 8]
[CSA Series Header Type]                                                                      MR
Number of Averages                                                                             1
Patient Position                                                                             HFS
Patient's Name                                                                      HE JIAN RONG
Rows                                                                                          64
[CSA Series Header Version]                                                             20140606
Performed Procedure Step Start Time                                                111723.828000
Blue Palette Color Lookup Table Descriptor                                           [256, 0, 8]
[CSA Image Header Version]                                                              20140606
Red Palette Color Lookup Table Descriptor                                            [256, 0, 8]
Series Description                                                                  t2_blade_tra
Series Number                                                                                  2
SAR                                                                                     0.940549
Columns                                                                                       64
Pixel Bandwidth                                                                              362
MR Acquisition Type                                                                           2D
[Unknown]                                                                                A1/SAT2
                                                                     ...
Scan Options                                                                                SAT2
Percent Sampling                                                                             100
Instance Number                                                                                2
dB/dt                                                                                     40.247
Scheduled Procedure Step ID                                                               770888
Device Serial Number                                                                       35424
[PositivePCSDirections]                                                                     +LPH
SOP Class UID                                                                   MR Image Storage
Station Name                                                                            MRC35424
Magnetic Field Strength                                                                        3
Referenced Patient Sequence                    [{(0008, 1150): (0008, 1150) Referenced SOP Cl...
[RealDwellTime]                                                                             3600
Acquisition Date                                                                        20140606
Acquisition Matrix                                                              [0, 384, 384, 0]
[ImaRelTablePosition]                                                                  [0, 0, 6]
Patient's Age                                                                               032Y
[Series Workflow Status]                                                                     com
Performed Procedure Step Description                                           MR nasopharynx +C
[SliceResolution]                                                                              1
Pregnancy Status                                                                               4
Requested Procedure Description                                                        tou bu mr
Angio Flag                                                                                     N
Slice Location                                                                           45.0584
High Bit                                                                                       7
Instance Creation Date                                                                  20140606
Manufacturer                                                                             SIEMENS
Imaging Frequency                                                                        123.259
Sequence Name                                                                        tseBR2d1_28
Percent Phase Field of View                                                                  100
Private Creator                                                                SIEMENS MR HEADER
Name: 1, dtype: object

In [226]:
list(conv_data)[0]

(80335.0,
 'ME140606MR3016',
 384,
 '685351',
 '10092825',
 1,
 'TrioTim',
 [-111.98122861, -119.99775317, 39.05843735],
 't2_blade_tra',
 'C:HEA;HEP;NE2',
 (['', '', ''],
  ['iso8859', 'iso8859', 'iso8859'],
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''),
 'Body',
 [256, 0, 8],
 'MR',
 1.0,
 'HFS',
 (['HE JIAN RONG', '', ''],
  ['iso8859', 'iso8859', 'iso8859'],
  'HE JIAN RONG',
  '',
  '',
  '',
  '',
  '',
  'HE JIAN RONG',
  '',
  'HE JIAN RONG'),
 64,
 '20140606',
 '111723.828000',
 [256, 0, 8],
 '20140606',
 [256, 0, 8],
 't2_blade_tra',
 2,
 0.94054930573562,
 64,
 362.0,
 '2D',
 'A1/SAT2',
 'MR nasopharynx +C',
 [0, 0, -1344],
 'WINDOW1',
 8,
 '20140606',
 'Street StreetNo,Guangzhou//FA4C24//,District,CN,ZIP',
 'IMAGE NUM 4',
 (['', '', ''],
  ['iso8859', 'iso8859', 'iso8859'],
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''),
 1,
 '384*384',
 '19820305',
 'syngo MR B17',
 '111951.109000',
 '',
 28,
 0,
 'SYSU Cancer Center',
 'peng^general',
 [{(): ('OW',
    b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t\n\x0b\x0c\r\x0e\x0f\x10\x11\x12\x13\x14\x15\x16\x17\x18\x19\x1a\x1b\x1c\x1d\x1e\x1f !"#$%&\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~\x7f\x80\x81\x82\x83\x84\x85\x86\x87\x88\x89\x8a\x8b\x8c\x8d\x8e\x8f\x90\x91\x92\x93\x94\x95\x96\x97\x98\x99\x9a\x9b\x9c\x9d\x9e\x9f\xa0\xa1\xa2\xa3\xa4\xa5\xa6\xa7\xa8\xa9\xaa\xab\xac\xad\xae\xaf\xb0\xb1\xb2\xb3\xb4\xb5\xb6\xb7\xb8\xb9\xba\xbb\xbc\xbd\xbe\xbf\xc0\xc1\xc2\xc3\xc4\xc5\xc6\xc7\xc8\xc9\xca\xcb\xcc\xcd\xce\xcf\xd0\xd1\xd2\xd3\xd4\xd5\xd6\xd7\xd8\xd9\xda\xdb\xdc\xdd\xde\xdf\xe0\xe1\xe2\xe3\xe4\xe5\xe6\xe7\xe8\xe9\xea\xeb\xec\xed\xee\xef\xf0\xf1\xf2\xf3\xf4\xf5\xf6\xf7\xf8\xf9\xfa\xfb\xfc\xfd\xfe\xff',
    690,
    False,
    ())}],
 6.0,
 90.0,
 [{(): ('UI',
    (None,
     None,
     False,
     '1.3.12.2.1107.5.2.32.35424.2014060611175576104261237',
     None),
    50,
    False,
    ())},
  {(): ('UI',
    (None,
     None,
     False,
     '1.3.12.2.1107.5.2.32.35424.2014060611175762094461245',
     None),
    152,
    False,
    ())},
  {(): ('UI',
    (None,
     None,
     False,
     '1.3.12.2.1107.5.2.32.35424.2014060611175855159561249',
     None),
    254,
    False,
    ())}],
 'N',
 ['ORIGINAL', 'PRIMARY', 'M', 'NORM', 'DIS2D'],
 8,
 '770888',
 '1H',
 '111827.902500',
 57.0,
 'PALETTE COLOR',
 0,
 'SE',
 [{(): ('UI', '', 24, False, ())}],
 'ROW',
 5.0,
 'MR',
 '111723.734000',
 'Fast',
 '685351',
 'M',
 '20140606',
 568.0,
 '20140606',
 1213.0,
 1,
 '111951.109000',
 'No',
 4200.0,
 119.0,
 '20140606',
 [0, 0, -1338],
 '1.0',
 ['SK', 'SP'],
 1580,
 ('', False, False, 'MR Image Storage', 'SOP Class'),
 'Department',
 '111951.062000',
 'SAT2',
 100.0,
 2,
 40.247024536133,
 '770888',
 '35424',
 '+LPH',
 ('', False, False, 'MR Image Storage', 'SOP Class'),
 'MRC35424',
 3.0,
 [{(): ('UI', '', 24, False, ())}],
 3600,
 '20140606',
 [0, 384, 384, 0],
 [('0',), ('0',), ('6',)],
 '032Y',
 'com',
 'MR nasopharynx +C',
 1.0,
 4,
 'tou bu mr',
 'N',
 45.058437347412,
 7,
 '20140606',
 'SIEMENS',
 123.258578,
 'tseBR2d1_28',
 100.0,
 'SIEMENS MR HEADER')

In [23]:
full_dicom_list

,[SliceMeasurementDuration],Accession Number,Number of Phase Encoding Steps,Study ID,Patient ID,Samples per Pixel,Manufacturer's Model Name,[SlicePosition_PCS],Protocol Name,[CoilString],...,Requested Procedure Description,Angio Flag,Slice Location,High Bit,Instance Creation Date,Manufacturer,Imaging Frequency,Sequence Name,Percent Phase Field of View,Private Creator
0,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 45.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,51.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
1,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 39.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,45.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
2,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 33.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,39.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
3,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 27.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,33.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
4,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 21.05843735]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,27.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
5,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 15.05843639]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,21.058436,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
6,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 9.05843639]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,15.058436,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
7,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 3.05843663]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,9.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
8,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -2.94156337]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,3.058437,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
9,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -8.94156361]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-2.941564,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
10,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -14.94156361]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-8.941564,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
11,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -20.94156265]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-14.941563,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
12,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -26.94156265]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-20.941563,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
13,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -32.94156265]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-26.941563,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
14,80337.5,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -38.94156265]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-32.941563,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
15,80335.0,ME140606MR3016,384,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -44.94156265]",t2_blade_tra,C:HEA;HEP;NE2,...,tou bu mr,N,-38.941563,7,20140606,SIEMENS,123.258578,tseBR2d1_28,100.0,SIEMENS MR HEADER
16,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 45.05843735]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,51.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
17,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 39.05843735]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,45.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
18,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 33.05843735]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,39.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
19,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 27.05843735]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,33.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
20,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 21.05843735]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,27.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
21,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 15.05843639]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,21.058436,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
22,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 9.05843639]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,15.058436,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
23,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 3.05843663]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,9.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
24,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -2.94156337]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,3.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
25,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -8.94156361]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,-2.941564,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
26,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -14.94156361]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,-8.941564,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
27,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -20.94156265]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,-14.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
28,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -26.94156265]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,-20.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
29,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -32.94156265]",t1_tse_tra_384,T:HEA;HEP;NE2,...,tou bu mr,N,-26.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,102930.0,ME140606MR3016,309,685351,10092825,1,TrioTim,"[1.88849556, -128.67716599, 109.94531573]",t1_tse_sag_+c,"C:HEA;HEP;NE1,2",...,tou bu mr,N,1.888496,7,20140606,SIEMENS,123.258585,*tse2d1rr3,100.0,SIEMENS MR HEADER
327,102930.0,ME140606MR3016,309,685351,10092825,1,TrioTim,"[5.48849583, -128.67716599, 109.94531573]",t1_tse_sag_+c,"C:HEA;HEP;NE1,2",...,tou bu mr,N,5.488496,7,20140606,SIEMENS,123.258585,*tse2d1rr3,100.0,SIEMENS MR HEADER
328,102930.0,ME140606MR3016,309,685351,10092825,1,TrioTim,"[9.08849525, -128.67716599, 109.94531573]",t1_tse_sag_+c,"C:HEA;HEP;NE1,2",...,tou bu mr,N,9.088495,7,20140606,SIEMENS,123.258585,*tse2d1rr3,100.0,SIEMENS MR HEADER
329,102927.5,ME140606MR3016,309,685351,10092825,1,TrioTim,"[12.68849564, -128.67716599, 109.94531573]",t1_tse_sag_+c,"C:HEA;HEP;NE1,2",...,tou bu mr,N,12.688496,7,20140606,SIEMENS,123.258585,*tse2d1rr3,100.0,SIEMENS MR HEADER
330,102930.0,ME140606MR3016,309,685351,10092825,1,TrioTim,"[16.28849602, -128.67716599, 109.94531573]",t1_tse_sag_+c,"C:HEA;HEP;NE1,2",...,tou bu mr,N,16.288496,7,20140606,SIEMENS,123.258585,*tse2d1rr3,100.0,SIEMENS MR HEADER
331,102930.0,ME140606MR3016,309,685351,10092825,1,TrioTim,"[19.8884964, -128.67716599, 109.94531573]",t1_tse_sag_+c,"C:HEA;HEP;NE1,2",...,tou bu mr,N,19.888496,7,20140606,SIEMENS,123.258585,*tse2d1rr3,100.0,SIEMENS MR HEADER
332,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 45.05843735]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,51.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
333,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 39.05843735]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,45.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
334,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 33.05843735]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,39.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
335,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 27.05843735]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,33.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
336,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 21.05843735]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,27.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
337,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 15.05843639]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,21.058436,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
338,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 9.05843639]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,15.058436,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
339,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, 3.05843663]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,9.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
340,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -2.94156337]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,3.058437,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
341,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -8.94156361]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-2.941564,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
342,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -14.94156361]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-8.941564,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
343,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -20.94156265]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-14.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
344,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -26.94156265]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-20.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
345,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -32.94156265]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-26.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
346,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -38.94156265]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-32.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
347,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -119.99775317, -44.94156265]",t1_tse_tra_+c,T:HEA;HEP;NE2,...,tou bu mr,N,-38.941563,7,20140606,SIEMENS,123.258578,*tse2d1rr3,100.0,SIEMENS MR HEADER
348,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, 21.0051651]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-38.994835,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
349,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, 15.0051651]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-44.994835,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
350,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, 9.0051651]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-50.994835,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
351,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, 3.00516558]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-56.994834,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
352,46555.0,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, -2.99483442]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-62.994834,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
353,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, -8.9948349]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-68.994835,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
354,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, -14.9948349]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-74.994835,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER
355,46552.5,ME140606MR3016,312,685351,10092825,1,TrioTim,"[-111.98122861, -123.72656634, -20.9948349]",t1_tse_tra_+c,"D:NE1,2",...,tou bu mr,N,-80.994835,7,20140606,SIEMENS,123.258400,*tse2d1rr3,100.0,SIEMENS MR HEADER

In [45]:
from pyspark.sql.session import SparkSession
from pyspark.sql.types import _infer_schema, _merge_type
sess = SparkSession(sc)
sess._inferSchemaFromList(list(map(lambda x: x, full_dicom_list)))

TypeError: Can not infer schema for type: <class 'str'>

In [51]:
row_rdd = sc.parallelize(full_dicom_list.T.to_dict().values()).map(lambda x: Row(**x))
sqlContext.createDataFrame(row_rdd).registerTempTable("DicomTest")
sqlContext.sql("""SELECT * FROM DicomTest LIMIT 1""")

In [261]:
bad_rows = []
for i in range(2,full_dicom_list.shape[0]):
    full_dicom_list.head(i).tail(2).to_csv('test.csv')
    try:
        sqlContext.createDataFrame(pd.read_csv('test.csv')).registerTempTable('Test')
        sqlContext.sql("SELECT * FROM Test LIMIT 1").first()
    except:
        bad_rows += [i]
        
print(bad_rows)

[17, 63, 318]

In [262]:
bad_rc_pairs = []
for i in bad_rows:
    for col in full_dicom_list.columns:
        full_dicom_list[[col]].head(i).tail(2).to_csv('test2.csv')
        try:
            sqlContext.createDataFrame(pd.read_csv('test2.csv')).registerTempTable('Test')
            sqlContext.sql("SELECT * FROM Test LIMIT 1").first()
        except:
            bad_rc_pairs += [(i,col)]

In [263]:
bad_rc_pairs

[(17, 'Scan Options'), (63, 'Scan Options'), (318, 'Scan Options')]

In [266]:
full_dicom_list['Scan Options'].head(318).tail(2)

316    FS
317
Name: Scan Options, dtype: object

In [91]:
with open('test2.csv', 'r') as f:
    test_txt = "".join(f.readlines())

In [92]:
test_txt

',Scan Options\n15,SAT2\n16,\n'

In [96]:
from io import StringIO
test_df = pd.read_csv(StringIO(',Scan Options\n15,SAT2\n16,\n'))
sqlContext.createDataFrame(test_df).registerTempTable('Test')
sqlContext.sql("SELECT * FROM Test LIMIT 1").toPandas()

TypeError: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

In [99]:
test_df.dropna(axis = 0)

   Unnamed: 0 Scan Options
0          15         SAT2

In [105]:
bad_entry = full_dicom_list[['Scan Options']].head(i).tail(2)

In [108]:
be_series = bad_entry['Scan Options']

In [110]:
be_series.astype(np.str0)

15    SAT2
16
Name: Scan Options, dtype: object

In [111]:
be_series.map(lambda x: len(x))

15    4
16    0
Name: Scan Options, dtype: int64

In [112]:
?full_dicom_list.apply